<!doctype html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
        <title>500</title>
        <style type="text/css">
        html,body{margin:0;padding:0;}
        .error-box{ color:#424040; width:361px; font:12px/1.2 Tahoma, Geneva, sans-serif; padding:74px; }
        .error-box .h{  color:#fff;  line-height:24px; font-size:16px; border-bottom:1px solid #000; overflow:hidden; zoom:1; margin-bottom:43px; }
        .error-box .h div{ background:#242323; float:left; padding:0 7px; }
        .error-box .err{ margin-bottom:33px; font-size:1000%; font-weight:bold; width:228px; height:119px; }
        .error-box .txt{ margin-bottom:15px; border:solid #bdbdbd; border-width:1px 0; padding:12px 0; line-height:1.4; }
        .error-box .fl-lt{ float:left; }
        .error-box .fl-rt{ float:right; }
        .error-box .over{ overflow:hidden; zoom:1; }
        .error-box a{ color:#2b84d0; }
        </style>
</head>
<body>
        <div class="error-box">
                <div class="h"><div>Ошибка - [% error.type %]</div></div>
                <div class="err">500</div>
                <div class="txt">[% error.info %]</div>
                <div class="over">
                        <a class="fl-lt" href="/">Главная</a>
                        <span class="fl-rt"><a href="http://www.designb2b.ru">Разработка сайтов: Designb2b</a></span>
                </div>
        </div>
</body>
</html>

