[% import(content) %]
        <!--// content //-->
        <section class="content">
            <ul class="crumbs list">
                <li class="item"><a class="link" href="#">Главная</a></li>
                <li class="item">Совеместные покупки</li>
            </ul>
            <div class="h1">Совеместные покупки</div>
            <ul class="list ibs catalog_list_5">
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic8.jpg" alt=""/></span> <span class="text">Белмода</span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic9.jpg" alt=""/></span> <span class="text">СимаЛэнд</span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic10.jpg" alt=""/></span> <span class="text">Союзпластик</span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic11.jpg" alt=""/></span> <span class="text">Z29 удивительные товары
          оптом</span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic12.jpg" alt=""/></span> <span class="text">Фирма ВИСС</span></a></li>
            </ul>
            <ul class="list ibs pages mb-50">
                <li class="item active">1</li>
                <li class="item"><a class="link" href="#">2</a></li>
                <li class="item"><a class="link" href="#">3</a></li>
            </ul>
            <div class="promo">Promobody: Единый Центр Продаж предлагает вам товары и услуги для дома и быта невысокого ценового диапазона, но высокого качества. В разделе ГАДЖЕТАУН вы сможете ознакомиться с</div>
        </section>
        <!--// end content //-->
