    <!--// footer //-->
    <footer class="footer">
        <div class="company_footer">
            <p>[% const.copy %]</p>
          <p>[% const.address %]</p>
        </div>
        <div class="counter">[% const.counter %]</div>
        <div class="developer"><a class="link" href="http://www.designb2b.ru" target="_blank">–азработка сайта: DesignB2B</a></div>
        <div class="phone_footer">
            <ul class="list">
                <li class="item">
                    <p><span class="number">[% const.phone %]</span></p>
                    <p>(многоканальный)</p>
                </li>
                <li class="item">
                    <p><span class="number">[% const.phone_2 %]</span></p>
                    <p>(круглосуточно)</p>
                </li>
            </ul>
        </div>
    </footer>
    <!--// end footer //-->
