<!doctype html>
<!--[if IE 7]><html class="no-js ie ie7" lang="ru"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8" lang="ru"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9" lang="ru"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="ru">
<!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="windows-1251"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Untitled Document</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <script src="js/modernizr-2.7.1.js"></script>
    <!--[if lte IE 8]><script src="js/jquery-1.11.2.min.js"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="js/jquery-2.1.3.min.js"></script><!--<![endif]-->
    <script src="js/jmodal.js"></script>
    <script src="js/jvalidate.js"></script>
    <script src="js/jinit.js"></script>
</head>
<body>

<!--[if lte IE 9]>
<div class="browsehappy">Похоже, вы используете устаревшую версию Internet Explorer. Пожалуйста, попробуйте другой
    <a href="http://browsehappy.com/">браузер</a>, чтобы получить более полное впечатление о работе в сети.
</div>
<![endif]-->

<!--// wrapper //-->
<div class="wrapper">
    <div class="inner">

        <!--// header //-->
        <header class="header">
            <div class="to_main"><a class="link" href="#">На главную</a></div>
            <div class="callback"><a class="link js-show_modal" href="#modal_callback"><span class="text">Заказать обратный звонок</span></a></div>
            <div class="logo"><a class="link" href="#"></a></div>
            <div class="slogan">СОВМЕСТНЫЕ ПОКУПКИ - НОВЫЕ ТЕНДЕНЦИИ СОВРЕМЕННОЙ ТОРГОВЛИ!</div>
            <div class="phone">
                <ul class="list">
                    <li class="item">
                        <p><span class="number">8 (499) 777-88-99</span></p>
                        <p>(многоканальный)</p>
                    </li>
                    <li class="item">
                        <p><span class="number">8 (926) 321-08-80</span></p>
                        <p>(круглосуточно)</p>
                    </li>
                </ul>
            </div>
            <div class="send_request"><a class="link js-show_modal" href="#modal_send_request">Отправить заявку</a></div>
            <nav class="nav">
                <ul class="list">
                    <li class="item active"><a class="link" href="#"><span class="text">О Компании</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a class="link" href="#"><span class="text">Каталог</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a class="link" href="#"><span class="text">Услуги</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a class="link" href="#"><span class="text">Акции</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a class="link" href="#"><span class="text">Доставка и оплата</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a class="link" href="#"><span class="text">Совместные покупки</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item"><a class="link" href="#"><span class="text">Контакты</span></a>
                        <div class="rel">
                            <div class="sub">
                                <ul class="sub_menu list">
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                    <li class="item"><a class="link" href="#">Выпадающее меню</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!--// end header //-->

        <!--// left side //-->
        <aside class="side">
            <div class="h2">Услуги</div>
            <ul class="list services_list_2">
                <li class="item"><a class="link" href="#"><span class="fig"><span class="fig_orange"><img class="img" src="images/pic21_orange.png" alt=""/></span><span class="fig_violet"><img class="img" src="images/pic21_violet.png" alt=""/></span></span> <span class="text">Установка терминала
          с функцией просмотра
          каталогов продукции покупателем индивидуально</span></a></li>
                <li class="item active"><a class="link" href="#"><span class="fig"><span class="fig_orange"><img class="img" src="images/pic22_orange.png" alt=""/></span><span class="fig_violet"><img class="img" src="images/pic22_violet.png" alt=""/></span></span> <span class="text">Сотрудничество</span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><span class="fig_orange"><img class="img" src="images/pic23_orange.png" alt=""/></span><span class="fig_violet"><img class="img" src="images/pic23_violet.png" alt=""/></span></span> <span class="text">Грузовые автомобильные перевозки BTL-GROUP</span></a></li>
            </ul>
            <div class="buy_box_2">
                <div class="h3">Совместные покупки</div>
                <div class="carousel_4 js-carousel_4"><a class="next" href="#"></a><a class="prev" href="#"></a>
                    <div class="in">
                        <ul class="list">
                            <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic8.jpg" alt=""/></span><span class="text">Совместные покупки</span></a></li>
                            <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic9.jpg" alt=""/></span><span class="text">Совместные покупки</span></a></li>
                            <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic10.jpg" alt=""/></span><span class="text">Совместные покупки</span></a></li>
                            <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic11.jpg" alt=""/></span><span class="text">Совместные покупки</span></a></li>
                            <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic12.jpg" alt=""/></span><span class="text">Совместные покупки</span></a></li>
                        </ul>
                    </div>
                </div>
                <p class="ac"><a class="all" href="#">смотреть все</a></p>
            </div>
        </aside>
        <!--// end left side //-->

        <!--// content //-->
        <section class="content">
            <ul class="crumbs list">
                <li class="item"><a class="link" href="#">Главная</a></li>
                <li class="item">Каталог</li>
            </ul>
            <div class="h1">Каталог</div>
            <p>Единый Центр Продаж предлагает вам товары и услуги для дома и быта невысокого ценового диапазона, но высокого качества. В разделе ГАДЖЕТАУН вы сможете ознакомиться с новинками и новыми разработками. Осуществляем доставку товаров в любые регионы, а так же через собственные Региональные Центры.</p>
            <ul class="list ibs catalog_list_2">
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic24.jpg" alt=""/></span><span class="text"><span class="in">ОДЕЖДА</span></span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic25.jpg" alt=""/></span><span class="text"><span class="in">СОВМЕСТНЫЕ ПОКУПКИ</span></span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic5.jpg" alt=""/></span><span class="text"><span class="in">ЕДИНЫЙ ЦЕНТР ПРОДАЖ</span></span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic6.jpg" alt=""/></span><span class="text"><span class="in">ЭЛЕКТРОННЫЙ ПОМОЩНИК</span></span></a></li>
                <li class="item"><a class="link" href="#"><span class="fig"><img class="img" src="images/pic26.jpg" alt=""/></span><span class="text"><span class="in">ГАДЖЕТАУН</span></span></a></li>
            </ul>
        </section>
        <!--// end content //-->
        <div class="promo_2">Promobody: Единый Центр Продаж предлагает вам товары и услуги для дома и быта невысокого ценового диапазона, но высокого качества. В разделе ГАДЖЕТАУН вы сможете ознакомиться с новинками и новыми разработками. Осуществляем доставку товаров в любые регионы, а так же</div>
    </div>

    <!--// footer //-->
    <footer class="footer">
        <div class="company_footer">
            <p>© 2013-2015</p>
            <p>г. Москва, ул. Ивовая, д. 9</p>
        </div>
        <div class="counter"><img src="images/pic19.png" alt=""/></div>
        <div class="developer"><a class="link" href="#">Разработка сайта: DesignB2B</a></div>
        <div class="phone_footer">
            <ul class="list">
                <li class="item">
                    <p><span class="number">8 (499) 777-88-99</span></p>
                    <p>(многоканальный)</p>
                </li>
                <li class="item">
                    <p><span class="number">8 (926) 321-08-80</span></p>
                    <p>(круглосуточно)</p>
                </li>
            </ul>
        </div>
    </footer>
    <!--// end footer //-->
    <div class="line_top"></div>
</div>

<!--// wrapper //-->

<!--// modals //-->
<div id="modal_send_request" class="modal fade_in_and_scale modal_box_form js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="h3">Отправить заявку</div>
                    <form class="ph-6 js-validate" action="" method="post">
                        <p>
                            <input class="field w-310" required="required" data-error-message-empty="вы не представились" type="text" id="modal_send_request_name" value="" placeholder="ФИО"/>
                            <span class="star ml-9"></span></p>
                        <p>
                            <input class="field w-310" required="required" data-error-message-empty="вы не указали email" data-error-message-correct="вы неверно указали email" id="modal_send_request_email" type="email" value="" placeholder="E-mail"/>
                            <span class="star ml-9"></span></p>
                        <p>
                            <input class="field w-310" type="tel" id="modal_send_request_phone" value="" placeholder="Телефон"/>
                        </p>
                        <p>
                            <textarea class="field w-310 h-140" id="modal_send_request_message" name="text" placeholder="Сообщение"></textarea>
                        </p>
                        <p class="mb-14"> <span class="captcha w-310"><span class="fig"><img class="img" src="images/pic40.png" alt="captcha"/></span>
              <input class="field" required="required" data-error-message-empty="вы не указали код" data-error-message-correct="вы неверно указали код" type="text" name="capture_str" id="modal_send_request_captcha" value="" placeholder="Проверочный код"/>
              </span> <span class="star ml-9"></span></p>
                        <p>
                            <button type="submit" class="button">Отправить</button>
                        </p>
                    </form>
                    <a class="modal__close_btn js-modal_hide" href="#"></a></div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="modal_callback" class="modal fade_in_and_scale modal_box_form js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="h3">Обратный звонок</div>
                    <form class="ph-6 js-validate" action="" method="post">
                        <p>
                            <input class="field w-310" required="required" data-error-message-empty="вы не представились" type="text" id="modal_callback_name" value="" placeholder="ФИО"/>
                            <span class="star ml-9"></span></p>
                        <p>
                            <input class="field w-310" type="tel" required="required" data-error-message-empty="вы не указали телефон" data-error-message-correct="вы неверно указали телефон" id="modal_callback_phone" value="" placeholder="Телефон"/>
                            <span class="star ml-9"></span></p>
                        <p>
                            <input class="field w-310" type="text" id="modal_callback_time" value="" placeholder="Время удобное для звонка"/>
                        </p>
                        <p>
                            <textarea class="field w-310 h-140" id="modal_callback_message" name="text" placeholder="Ваш вопрос"></textarea>
                        </p>
                        <p class="mb-14"> <span class="captcha w-310"><span class="fig"><img class="img" src="images/pic40.png" alt="captcha"/></span>
              <input class="field" required="required" data-error-message-empty="вы не указали код" data-error-message-correct="вы неверно указали код" type="text" name="capture_str" id="modal_callback_captcha" value="" placeholder="Проверочный код"/>
              </span> <span class="star ml-9"></span></p>
                        <p>
                            <button type="submit" class="button">Отправить</button>
                        </p>
                    </form>
                    <a class="modal__close_btn js-modal_hide" href="#"></a></div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="modal_thanks" class="modal fade_in_and_scale box_thanks js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="h3">Спасибо!</div>
                    <p>Ваше сообщение отправлено.</p>
                    <a class="modal__close_btn js-modal_hide" href="#"></a></div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="js-modal" class="modal fade_in_and_scale hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="modal__body js-modal__body"></div>
                    <a class="modal__close_btn js-modal_hide" href="#"></a></div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="modal_lightbox" class="modal fade_in_and_scale js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="modal_lightbox__title"></div>
                    <div class="modal_lightbox__image"></div>
                    <div class="modal_lightbox__prev"></div>
                    <div class="modal_lightbox__next"></div>
                    <a class="modal__close_btn js-modal_hide" href="#"></a></div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<!--// end modals //-->
</body>
</html>