.flip_horizontal .modal__content {
  opacity: 0;
  -webkit-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.flip_horizontal.show .modal__content {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
