<html>
	<head>
		<title>Мастер шаблонов</title>
	</head>
	<body>
		<table>
			<tr>
				<td>Выберите тип шаблона:</td>
				<td>
					<select>
						<option value=''>не выбрано</option>
						<option value=''>Новости</option>
					</select>
				</td>
			</tr>
		</table>
	</body>
</html>