<select id='type'>
	<option value=''>Не выбрано</option>
	<option value='text'>text</option>
	<option value='textarea'>textarea</option>
	<option value='textarea'>wysiwyg</option>
	<option value='file'>file</option>
	<option value='select_values'>select_values</option>
	<option value='select_from_table'>select_from_table</option>
	<option value='megaselect'>megaselect</option>
	<option value='multiconnect'>multiconnect</option>
	<option value='multicheckbox'>multicheckbox</option>
	<option value='hidden'>hidden</option>
</select>
