[% import(content) %]
        <!--// content //-->
        <section class="content">
            [% layout.path_info %]
            <div class="h1">[% h1 ? h1 : header %]</div>
            <div class="o">
              [% IF photo %]
                <div class="fig_1"><a class="link js-lightbox jqzoom" href="[% photo_and_path_mini3 %]" title="[% header | htmlit %]">
                  <span class="in"><img class="img" src="[% photo_and_path_mini2 %]" alt=""/></span>
                </a></div>
              [% END %]
                [% to_p(cls='price_1',val=price) %]
                <ul class="list text_list_1">
                    <li class="item">Артикул: [% artikul || '-' %]</li>
                    [% IF sizes != '' %]<li class="item">Размеры: [% sizes %]</li>[% END %]
                    [% IF colors != '' %]<li class="item">Цвет: [% colors %]</li>[% END %]
                </ul>
                <p><a class="btn_1 js-show_modal" onclick="$('#modal_send_request_message').val('[% header | htmlit %]')" href="#modal_send_request">Отправить заявку</a></p>
            </div>
            [% body %]
            <p class="cb mb-34"><a class="back" onclick="history.back()">назад</a></p>
          [% layout.promo %]
        </section>
        <!--// end content //-->
